@keyframes taadaa { 
  0% {
      opacity: 0;
  }

  50%{
      opacity: 1;
  }

  100% {
      opacity: 0;
  }
  }

/*App*/
.App{
  height: 100%;
  padding: 3px;
  background-color: #153448;
}

.fade-enter {
  opacity: 0;
  transition: opacity 0.5s ease-in;
}

.fade-enter-active {
  opacity: 1;
}

.fade-exit {
  opacity: 1;
  transition: opacity 0.5s ease-out;
}

.fade-exit-active {
  opacity: 0;
}

/*Loading*/
@keyframes fadeOut{
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(255, 255, 255);
}

.loading-container.fade-out {
 animation: fadeOut 0.3s forwards;
}

.loading-gif {
  width: 300px;
  height: 300px;
}

/*NavBar*/
.NavBar{
  padding: 0px;
  background-color: #153448;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.NavBar button{
  font-family: 'Montserrat', sans-serif;
  padding: 20px;
  color: white;
  border: none;
  background: none;
  cursor: pointer;
}

.Link button{
  color: white;
  font-weight: 500;
  text-decoration: none;
  padding: 20px;
  transition: 0.5s;
}

.Link button:hover{
  background-color: #3C5B6F;
  color: rgb(209, 209, 209);
  transition: 0.5s;
}

.Link{
  list-style: none;
  display: inline-block;
}

/*SideBar*/
.SideBar{
  position: fixed;
  left: 0;
  top: 35%;
  background-color: #3C5B6F;
}

.SideBar ul{
  padding: 0;
  margin: 0;
}

.SideBar li{
  padding: 7px;
  list-style: none;
  text-align: center;
  transition: 0.5s;
}

.SideBar a{
  color: white;
  text-decoration: none;
  font-size: 10px;
}

.SideBar li:hover{
  background-color: #355063;
  color: #DFD0B8;
  transition: 0.5s;
}

.SideBar span{
  font-size: 20px;
}

/*Footer*/
.Footer{
  color: white;
  text-align: center;
  padding: 20px;
  background-color: #153448;
}

/*Home*/
.Home{
  margin-top: 34px;
  display: flex;
  justify-content: space-evenly;
}

.Intro{
  margin-top: 20px;
  padding: 10px;
  width: 50%;
}

.Intro1{
  color: white;
  padding: 0;
  margin: 0;
  font-size: 70px;
}

.Intro2{
  color: white;
  padding: 0;
  margin: 0;
  font-size: 50px;
}

.Intro3{
  color: #DFD0B8;
  padding: 0;
  margin: 0;
  font-size: 70px;
}

.Intro3 span{
  animation: taadaa 1s infinite;
}

.Home-Text{
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: white;
}

.Home-Button{
  margin-top: 10px;
  padding: 18px;
  font-family: 'Montserrat', sans-serif;
  border-radius: 10px;
  font-size: 16px;
  margin-top: 10px;
  background-color: #3C5B6F;
  border: none;
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: 0.5s;
}

.Home-Button:hover{
  background-color: #355063;
  color: #DFD0B8;
  transition: 0.5s;
}

/*About*/
/* File: Modal.css */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: none;
  justify-content: center;
  align-items: center;
}

.modal-main {
  position: fixed;
  background: white;
  width: 80%;
  height: auto;
  padding: 20px;
}

.display-block {
  display: flex;
}

.display-none {
  display: none;
}

