@import "~devicon/devicon.min.css";


@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: white }
}

/*App*/
.App{
  height: 100%;
  padding: 3px;
  background-color: #153448;
}

.fade-enter {
  opacity: 0;
  transition: opacity 0.5s ease-in;
}

.fade-enter-active {
  opacity: 1;
}

.fade-exit {
  opacity: 1;
  transition: opacity 0.5s ease-out;
}

.fade-exit-active {
  opacity: 0;
}

/*Loading*/
@keyframes fadeOut{
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(255, 255, 255);
}

.loading-container.fade-out {
 animation: fadeOut 0.3s forwards;
}

.loading-gif {
  width: 300px;
  height: 300px;
}

/*NavBar*/
.NavBar{
  padding: 0px;
  background-color: #153448;
  text-align: center;
}

.NavBar button{
  font-family: 'Montserrat', sans-serif;
  padding: 20px;
  color: white;
  border: none;
  background: none;
  cursor: pointer;
}

.Link button{
  color: white;
  font-weight: 500;
  text-decoration: none;
  padding: 20px;
  transition: 0.5s;
}

.Link button:hover{
  background-color: #3C5B6F;
  color: rgb(209, 209, 209);
  transition: 0.5s;
}

.Link{
  list-style: none;
  display: inline-block;
}

/*SideBar*/
.SideBar{
  position: fixed;
  left: 0;
  top: 35%;
  background-color: #3C5B6F;
}

.SideBar ul{
  padding: 0;
  margin: 0;
}

.SideBar li{
  padding: 7px;
  list-style: none;
  text-align: center;
  transition: 0.5s;
}

.SideBar a{
  color: white;
  text-decoration: none;
  font-size: 10px;
}

.SideBar li:hover{
  background-color: #355063;
  color: #DFD0B8;
  transition: 0.5s;
}

.SideBar span{
  font-size: 20px;
}

/*Footer*/
.Footer{
  color: white;
  text-align: center;
  padding: 20px;
  background-color: #153448;
}

/*Home*/
.Home{
  margin-top: 34px;
  display: flex;
  justify-content: space-evenly;
}

.Intro{
  text-align: left;
  margin-top: 20px;
  padding: 10px;
  width: 44%;
}

.Intro1{
  color: white;
  padding: 0;
  margin: 0;
  font-size: 70px;
}

.Intro2{
  color: white;
  padding: 0;
  margin: 0;
  font-size: 50px;
}

.Intro3{
  color: #DFD0B8;
  font-size: 70px;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 10px solid #DFD0B8; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  animation: 
    typing 2s steps(20, end),
    blink-caret .5s step-end infinite;
}

.typewrite > .wrap {
  border-right: 0.08em solid #fff;
  background-color: #355063;
}

.Home-Text{
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: white;
}

.Home-Button{
  margin-top: 10px;
  padding: 18px;
  font-family: 'Montserrat', sans-serif;
  border-radius: 10px;
  font-size: 16px;
  margin-top: 10px;
  background-color: #3C5B6F;
  border: none;
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: 0.5s;
}

.Home-Button:hover{
  background-color: #355063;
  color: #DFD0B8;
  transition: 0.5s;
}

/*Modal*/
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  display: none;
  justify-content: center;
  align-items: center;
}

.modal-main {
  position: fixed;
  background: white;
  width: auto;
  padding: 20px;
}

.modal-main button{
  position: absolute;;
  margin: 10px;
  font-size: 20px;
  top: 0;
  right: 0;
  cursor: pointer;
}

.display-block {
  display: flex;
}

.display-none {
  display: none;
}


/*About*/
.About{
  padding: 10px;
}

.About h1{
  margin-top: 10px;
  font-size: 40px;
  text-align: center;
  color: white;
  text-decoration: underline;
}

.About-imgcontainer{
  margin: 0 auto;
  border-radius: 10px;
  padding: 10px;
  width: 700px;
  text-align: center;
}

.About-imgcontainer p{
  color: white;
  font-weight: 400;
  margin-top: 10px;
}

.About-imgcontainer a{
  font-weight: 700;
  text-decoration: none;
  color: #DFD0B8;
}

.About-buttonimg{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.About-buttonimg button{
  padding: 4px;
  background: none;
  border: none;
  cursor: pointer;
}

.About-img:hover{
  filter: grayscale(100%);
  max-width: 220px;
  transition: 0.5s;
}

.About-img{
  max-width: 200px;
  height: auto;
  transition: 0.5s;
}

.About-text{
  padding: 20px;
  margin: 0 auto;
  width: 1000px;
  display: flex;
}

.About-text1{
  margin-right: 10px;
  padding: 5px;
  border-right: 6px solid #3C5B6F;
  font-weight: 500;
  font-size: 30px;
  color: #DFD0B8;
  width: 40%;
}

.About-text2{
  margin-left: 10px;
  margin-top: 10px;
  width: auto;
  color: white;
}

/*Skills*/
.Skills{
  padding: 10px;
}

.Skills h1{
  font-size: 40px;
  text-align: center;
  color: white;
  text-decoration: underline;
}

.Skills-text{
  padding: 20px;
  margin: 0 auto;
  width: fit-content;
  display: flex;
}

.Skills-text1{
  margin-left: 10px;
  padding: 5px;
  border-left: 6px solid #3C5B6F;
  font-weight: 500;
  font-size: 30px;
  color: #DFD0B8;
}

.Skills-text2{
  margin-left: 10px;
  margin-top: 10px;
  width: auto;
  color: white;
}

/*Card*/
.Card-base{
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Card-container{
  width: 350px;
  margin: 10px;
  border: 4px solid #3C5B6F;
  border-radius: 10px;
  text-align: center;
  height: auto;
}

.Card-container h2{
  color: #DFD0B8;
  font-size: 20px;
  background-color: #3C5B6F;
  padding: 5px;
}

.Card-isi{
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Card{
  width: 55px;
  height: auto;
  background-color: #3C5B6F;
  color: #DFD0B8;
  border-radius: 10px;
  padding: 10px;
  margin: 5px;
  transition: 0.5s ease-in;
}

.Card i{
  font-size: 30px;
}

.Card p{
  font-size: 12px;
}

.Project{
  padding: 10px;
  margin: 0 auto;
}

.Project h1{
  color: white;
  font-size: 40px;
  text-decoration: underline;
  text-align: center;
}

.Project-container{
  padding: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 90%;
}

.Project-card{
  background-color: #3C5B6F;
  border-radius: 10px;
  margin: 10px;
  width: 300px;
  height: 360px;
}

.Project-card img{
  width: 300px;
  height: 200px;
  border-radius: 10px 10px 0px 0px;
}

.Project-text{
  padding: 10px;
}

.Project-text a{
  font-size: 24px;
  font-weight: 600;
  color: #DFD0B8;
}

.Project-text p{
  color: white;
  margin-top: 10px;
}

/*Contact*/
.Contact{
  padding: 10px;
}

.Contact h1{
  color: white;
  text-decoration: underline;
  font-size: 40px;
  text-align: center;
}

.Contact p{
  color: white;
  margin: 40px;
  text-align: center;
}

.Contact-form{
  width: 70%;
  margin: 0 auto;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  justify-content: center;
  background-color: #3C5B6F;
}

.Contact-form form{
  padding: 20px;
  width: 700px;
  margin: 0 auto;
}

.Contact-form label{
  color: white;
  font-weight: 500;
  display: block;
  margin: 5px;
}

.Contact-form input, textarea{
  border: none;
  width: 670px;
  padding: 10px;
  border-radius: 10px;
}

.Contact-form button{
  border: 1px solid #DFD0B8;
  background: none;
  border-radius: 5px;
  margin-top: 10px;
  padding: 10px;
  font-weight: 600;
  color: white;
  display: block;
  cursor: pointer;
  transition: 0.5s;
}

.Contact-form button:hover{
  background-color: #153448;
  transition: 0.5s;
}

